@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Cormorant";
    src: url("./assets/fonts/Cormorant/CormorantGaramond-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cormorant";
    src: url("./assets/fonts/Cormorant/CormorantGaramond-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 300 700;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: "Delicious";
    src: url("./assets/fonts/Delicious/BDSans-Thin.woff") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
